body{
    margin:5px;
    padding:5px;
    line-height:1.15;
    border: 1px solid black;
}

h1,h2,h3{
    font-weight:bold;
    margin-top:15px;
}

ul li{
    width: 100 px; 
    padding: 1%;
    margin: 25px;
    list-style-type:upper-roman;
    background-color: aqua;
    border-radius: 100px;
    border-width: 100px;
    border: 1px solid black;
    display: inline-block;
    color:blue;
}

/* img{
    border: black;
    width: 80%;
} */


p {
    font-size: 18px;
    color: blue;
    border: 10px, solid, pink;
    margin: 5px;

}
div.gallery{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    border: 3px solid black;
    width: 90%;
    align-items: center;

}
div.gallery img {
    border: black;
    width: 80%;
}
div.gallery:last-child{
    grid-column: 1/4;
}